<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  RewriteEngine On

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  #RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]  
  RewriteRule ^(.*)$ index.php?s=$1 [QSA,PT,L]   
</IfModule>
<Files *.html>
	Order Allow,Deny 
	Deny from all
</Files>