body {
	background-color: #f9f9f9
}

.font {
	font-family: "microsoft yahei"
}

.icon-hot {
	background-image: url("i/icon-hot.gif");
	width: 29px;
	height: 15px;
	display: inline-block;
	line-height: 100px;
	overflow: hidden;
	vertical-align: middle
}

.fn18 {
	font-size: 18px
}

.flk02 {
	color: #e4393c
}

.flk04 {
	color: #ff9000
}

.flk05,a.flk05:link,a.flk05:visited,.flk05 a:link,.flk05 a:visited {
	color: #4db7eb
}

a.flk05:hover,.flk05 a:hover {
	text-decoration: underline
}

.flk06,a.flk06:link,a.flk06:visited,.flk06 a:link,.flk06 a:visited {
	color: #E4393C
}

.ar {
	text-align: right
}

.p-r10 {
	padding-right: 10px
}

.txt-it2 {
	text-indent: 2em;
	line-height: 21px
}

.mgr-b30 {
	margin-bottom: 30px
}

.tl {
	text-align: left
}

.tc {
	text-align: center
}

.tr {
	text-align: right
}

.he-footer {
	background-color: #fff;
	*zoom: 1
}

.tablecss {
	border: solid #6ab4fd;
	border-width: 0 1px 1px 0
}

.tablecss th,.tablecss td {
	padding: 2px 5px;
	border: solid #6ab4fd;
	border-width: 1px 0 0 1px
}

.tablecss th {
	background-color: #f3f7fb;
	font-family: "microsoft yahei";
	font-size: 14px
}

.store-selector .con {
	width: 580px
}

#header-2013 {
	padding: 1px 0 0 0
}

#logo-2013 a b {
	width: 98px;
	height: 24px;
	background: url(i/sublogo.png) 2px 10px no-repeat #f9f9f9
}

#helpnav {
	float: right;
	height: 47px;
	margin-top: 13px
}

#helpnav li {
	float: left;
	margin-left: 15px;
	display: inline
}

#helpnav li a {
	display: inline-block;
	padding: 0 10px;
	height: 47px;
	line-height: 47px;
	font-size: 14px;
	font-family: "microsoft yahei"
}

#helpnav .curr a,#helpnav a:hover {
	background-color: #E4393C;
	color: #fff
}

a:hover {
	text-decoration: none
}

.list-float {
	overflow: hidden;
	*zoom: 1
}

.list-float .list-item {
	float: left
}

.btn-s01,.btn-s02,.btn-s03,.btn-s04 {
	display: inline-block;
	transition: background-color .5s;
	color: #fff
}

.btn-s01:hover,.btn-s02:hover,.btn-s03:hover,.btn-s04:hover {
	color: #fff
}

.btn-s02,.btn-s03,.btn-s04 {
	border-radius: 1px
}

.btn-s01 {
	height: 27px;
	line-height: 27px
}

.btn-s02,.btn-s03,.btn-s04 {
	height: 36px;
	line-height: 36px;
	font-size: 14px;
	font-family: "microsoft yahei"
}

.btn-s01 {
	padding-left: 10px;
	padding-right: 10px
}

.btn-s02,.btn-s03,.btn-s04 {
	padding-left: 30px;
	padding-right: 30px
}

.btn-s01 {
	background-color: #229ad7
}

.btn-s01:hover {
	background-color: #4db7eb
}

.btn-s02 {
	background-color: #6abb77
}

.btn-s02:hover {
	background-color: #83bd8c
}

.btn-s03 {
	background-color: #f3b701
}

.btn-s03:hover {
	background-color: #f4c841
}

.btn-s04 {
	background-color: #4cb0e2
}

.btn-s04:hover {
	background-color: #70c1e9
}

.bgcolor01 {
	background-color: #85b716;
	height: 100%;
	overflow: hidden;
	width: 100%
}

.bgcolor02 {
	background-color: #fff;
	overflow: hidden
}

.bgcolor03 {
	background-color: #f9f9f9;
	overflow: hidden
}

.bgcolor04 {
	background-color: #f1f1f1;
	overflow: hidden
}

.pd-box-b80 {
	padding-bottom: 80px
}

.pd-box-b20 {
	padding-bottom: 20px
}

.pb-box-t9 {
	padding-top: 9px
}

.mod-h01 {
	margin-bottom: 0
}

.mod-h01 .mt {
	height: 58px;
	line-height: 55px
}

.mod-h01 .mt .title {
	font-size: 18px;
	font-family: "microsoft yahei";
	color: #333
}

.mod-h01 a {
	transition: color .3s
}

.mod-h02 {
	border: 3px solid #eaeaea;
	background-color: #f1f1f1
}

.help-banner {
	background: #dfe0e5 url("i/banner.jpg") no-repeat scroll center center;
	height: 420px
}

.help-banner01 {
	background: #e3e3e3 url("i/banner0220150324.jpg") no-repeat scroll center center;
	height: 260px
}

.font-c-05 {
	color: #4db7eb
}

.tabs .tab-list {
	*zoom: 1;
	font-family: "microsoft yahei"
}

.tabs .tab-list:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
	font-size: 0;
	overflow: hidden
}

.tabs .tab-list .list-item {
	float: left;
	height: 45px;
	line-height: 45px;
	margin-right: 12px;
	background-color: #e9e9e9;
	color: #585858;
	font-size: 16px;
	width: 150px;
	text-align: center;
	font-weight: bold;
	cursor: default
}

.tabs .tab-list .list-item.current {
	background-color: #f3b701;
	color: #fff;
	position: relative
}

.tabs .tab-list .list-item.current .icon01 {
	width: 12px;
	height: 7px;
	position: absolute;
	left: 70px;
	bottom: -7px;
	background: url("i/icon02.png") no-repeat 0 bottom;
	line-height: 0
}

.tabs .tabcons {
	padding-top: 28px;
	background-color: #fff
}

.tabs .tabcon {
	padding-bottom: 18px
}

.notice-box {
	color: #fff;
	padding-top: 30px;
	padding-bottom: 20px;
	overflow: hidden;
	*zoom: 1
}

.notice-box .text,.notice-box .list-float {
	float: left;
	font-size: 14px;
	font-family: "microsoft yahei"
}

.notice-box .more-link {
	float: right;
	padding-right: 15px
}

.notice-box a:link,.notice-box a:visited {
	color: #fff
}

.notice-box a:hover {
	color: #ffe400
}

.notice-box .text {
	font-weight: bold
}

.notice-box .list-item {
	margin-right: 25px
}

.notice-box .list-item:last-child {
	margin-right: 10px
}

.search-order-box {
	padding-bottom: 35px;
	overflow: hidden;
	*zoom: 1
}

.search-box .btn-sch {
	height: 40px\9\0
}

.search-box {
	float: left;
	position: relative;
	background-color: #ffe400;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 6px
}

.search-box txt {
	left: 0
}

.search-box .f-text {
	padding: 12px 0 12px 12px;
	width: 559px;
	vertical-align: top;
	float: left;
	border: 0;
	color: #b4b7ae
}

.search-box .btn-sch {
	background-color: #ffe400;
	font-size: 20px;
	font-family: "microsoft yahei";
	color: #9a6e11;
	float: left;
	border-radius: none;
	border: 0;
	vertical-align: top;
	height: 40px;
	width: 118px;
	cursor: pointer
}

.order-box {
	float: right;
	position: relative;
	background-color: #fff;
	height: 34px;
	overflow: hidden;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 13px;
	width: 272px
}

.order-box .text {
	color: #b9b9b9;
	font-weight: bold;
	width: 190px;
	float: left
}

.order-box .btn-s01 {
	position: absolute;
	right: 13px;
	bottom: 9px
}

.self-service-box .mc {
	*float: left;
	*zoom: 1
}

.self-service-list {
	float: left;
	padding-left: 20px;
	padding-right: 10px;
	width: 215px;
	margin-bottom: 30px
}

.self-service-list:nth-child(n+5) {
	margin-bottom: 20px
}

.self-service-list .ds-icon {
	float: left;
	padding-right: 10px;
	position: relative
}

.self-service-list .link-img {
	display: block;
	width: 61px;
	height: 61px
}

.self-service-list .link-img:hover {
	opacity: .8
}

.self-service-list .ds-name {
	font-size: 16px;
	font-family: "microsoft yahei";
	margin-bottom: 9px
}

.self-service-list .ds-name a:hover {
	color: #4db7eb
}

.self-service-list .text {
	color: #b4b7ae;
	line-height: 14px;
	height: 28px;
	overflow: hidden
}

.link-img01 {
	background-image: url("i/dsicon01.jpg")
}

.link-img02 {
	background-image: url("i/dsicon02.jpg")
}

.link-img03 {
	background-image: url("i/dsicon03.jpg")
}

.link-img04 {
	background-image: url("i/dsicon04.jpg")
}

.link-img05 {
	background-image: url("i/dsicon05.jpg")
}

.link-img06 {
	background-image: url("i/dsicon06.jpg")
}

.link-img07 {
	background-image: url("i/dsicon07.jpg")
}

.link-img08 {
	background-image: url("i/dsicon08.jpg")
}

.hot-topic-box {
	padding-top: 22px;
	margin-bottom: 20px
}

.hot-topic-list {
	overflow: hidden;
	*zoom: 1;
	padding-left: 20px;
	font-size: 14px;
	margin-bottom: 25px
}

.hot-topic-list .list-item01 {
	width: 49%;
	float: left;
	font-family: "microsoft yahei"
}

.hot-topic-list a {
	height: 32px;
	line-height: 32px;
	display: block;
	padding-left: 10px;
	color: #585858
}

.hot-topic-list a:hover {
	color: #ca8b00
}

.bg-icon {
	background: url("i/icon01.png") 0 -14px no-repeat
}

.bg-icon:hover {
	background-position: 0 13px
}

.help-class-box {
	line-height: 22px;
	padding-bottom: 13px;
	margin-bottom: 0
}

.help-class-box .mod-h02 {
	float: left;
	width: 264px;
	margin-bottom: 15px;
	padding: 15px;
	line-height: 25px
}

.help-class-box .mod-h02.fore02,.help-class-box .mod-h02.fore05 {
	margin-left: 45px;
	margin-right: 45px;
	*display: inline
}

.help-class-box .mod-h02 .smt .title {
	font-size: 14px;
	font-weight: normal
}

.help-class-box .mod-h02 .smc {
	height: 125px
}

.help-class-box a {
	color: #4db7eb
}

.help-class-box a:hover {
	color: #ff9600
}

.help-class-box .list-item {
	width: 49%
}

.jimi-box {
	background: #f9f9f9 url(i/jimibanner.jpg) no-repeat 23px 20px;
	height: 135px
}

.jimi-box .btn-s03 {
	margin-top: 60px;
	margin-left: 790px
}

.contact-us-box {
	margin-bottom: 20px
}

.contact-us-in {
	padding: 22px;
	overflow: hidden;
	*zoom: 1
}

.contact-us-in p a {
	color: #4db7eb
}

.contact-us-in p a:hover {
	text-decoration: underline
}

.contact-us-in .dl-list {
	float: left;
	width: 245px;
	margin-right: 90px
}

.contact-us-in .dl-list.fore03 {
	margin-right: 0;
	width: 260px
}

.contact-us-in .dl-list .title {
	font-size: 16px;
	font-family: "microsoft yahei";
	margin-bottom: 10px;
	font-weight: bold
}

.contact-us-in .dl-list .text {
	color: #999;
	margin-bottom: 10px
}

.yline {
	margin-left: 6px;
	margin-right: 6px
}

.jdh-table {
	width: 740px;
	text-align: center;
	background-color: #fff
}

.jdh-table table {
	margin-bottom: 15px
}

.jdh-table thead th {
	background-color: #f1f1f1;
	font-family: "microsoft yahei";
	font-size: 14px;
	color: #999;
	height: 33px
}

.jdh-table tbody td {
	padding: 3px;
	font-size: 12px;
	border-bottom: 1px solid #f2f2f2
}

.jdh-table tbody a:link,.jdh-table tbody a:visited {
	color: #4db7eb;
	text-decoration: none
}

.jdh-table .img-list {
	overflow: hidden;
	*zoom: 1;
	padding-top: 7px;
	padding-bottom: 3px;
	width: 264px
}

.jdh-table .img-list a {
	float: left;
	border: 1px solid #f3f3f3;
	margin-right: 4px;
	margin-bottom: 4px
}

.jdh-table .img-list img {
	width: 60px;
	height: 60px
}

.jdh-table .ftx-03 {
	color: #999
}

.jdh-table .o-state01 {
	color: #ff8a00
}

.jdh-table .btn-chko {
	display: inline-block;
	background-color: #6abb77;
	width: 80px;
	height: 28px;
	line-height: 28px
}

.jdh-table a.btn-chko:link,.jdh-table a.btn-chko:visited {
	color: #fff
}

.tab-guide-wrap .tab-list {
	overflow: hidden;
	*zoom: 1;
	text-align: center;
	margin-bottom: 18px
}

.tab-guide-wrap .list-item {
	float: left;
	width: 99px;
	height: 100px;
	background-image: url("i/icon20150324.png");
	margin-left: 80px;
	*display: inline;
	font-family: "Microsoft yahei";
	color: #999;
	cursor: pointer
}

.tab-guide-wrap .current {
	background-position: -100px 0;
	color: #fff
}

.tab-guide-wrap .hc-text,.tab-guide-wrap .tab-title {
	display: block
}

.tab-guide-wrap .hc-text {
	font-size: 24px;
	font-weight: normal;
	padding-top: 13px;
	height: 49px
}

.tab-guide-wrap .tab-title {
	font-size: 16px;
	height: 26px;
	line-height: 26px
}

.tab-guide-wrap .tabcons {
	border: 1px solid #75cd83;
	padding: 15px;
	margin-bottom: 15px;
	overflow: hidden;
	*zoom: 1
}

.tab-guide-wrap .title {
	font-size: 14px;
	margin-bottom: 10px;
	color: #333
}

.tab-guide-wrap .help_list li {
	float: left;
	width: 465px;
	margin-right: 10px;
	font-size: 14px;
	line-height: 24px;
	color: #b6b6b6;
	height: 24px;
	overflow: hidden
}

.tab-guide-wrap .help_list a:link,.tab-guide-wrap .help_list a:visited,.tab-guide-wrap .help_list a:hover {
	color: #333
}

.main {
	overflow: hidden;
	*zoom: 1
}

.search-wrap {
	background-color: #f1f1f1;
	padding-top: 26px;
	padding-bottom: 26px;
	text-align: center;
	margin-bottom: 15px
}

.search-wrap txt {
	left: 0
}

.search-wrap .f-text {
	border: 3px solid #E4393C;
	padding: 10px;
	height: 26px;
	width: 680px;
	vertical-align: top;
	float: left;
	color: #9e9e9e
}

.search-wrap .btn-search {
	background-color: #E4393C;
	font-size: 20px;
	font-family: "microsoft yahei";
	color: #fff;
	border-radius: none;
	border: 0;
	vertical-align: top;
	height: 52px;
	width: 120px;
	float: left;
	font-weight: bold
}

.search-wrap .sch-box {
	width: 826px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	*zoom: 1;
	position: relative
}

.subside-box {
	float: left;
	width: 220px;
	margin-right: 10px
}

.subside-box .h3-title {
	color: #fff;
	text-align: center;
	font-size: 18px;
	line-height: 40px;
	height: 40px;
	background-color: #999;
	font-family: "microsoft yahei";
	font-weight: normal
}

.subside-box .subside-mod .title {
	height: 40px;
	line-height: 40px;
	padding-left: 45px;
	background-color: #eaeaea;
	border-bottom: 1px solid #fff;
	font-size: 14px;
	font-family: "microsoft yahei";
	position: relative
}

.subside-box .subside-mod .title:hover {
	background-color: #dadada
}

.subside-box .subside-mod .icon02 {
	border-style: solid dashed solid dashed;
	border-color: #999 transparent #999 transparent;
	border-width: 5px 5px 0;
	position: absolute;
	top: 17px;
	right: 20px;
	font-size: 0;
	line-height: 0;
	height: 0;
	overflow: hidden
}

.subside-box .subside-list .list-item {
	height: 30px;
	line-height: 30px;
	padding-left: 45px;
	border-bottom: 1px solid #faf8f9
}

.subside-box .subside-list .list-item.current {
	font-weight: bold
}

.subside-box .subside-list .list-item.current a:link,.subside-box .subside-list .list-item.current a:visited {
	color: #E4393C
}

.subside-box .subside-list .list-item a {
	color: #333
}

.subside-box .subside-list .list-item a:hover {
	font-weight: bold;
	color: #E4393C
}

.subside-box .subside-cnt {
	display: none;
	background-color: #fff
}

.subside-box .on .subside-cnt {
	display: block
}

.subside-box .on .icon02 {
	border-width: 0 5px 5px
}

.content {
	width: 966px;
	float: left;
	background-color: #fff;
	min-height: 800px
}

html* .content {
	position: relative;
	overflow: hidden
}

.content .breadcrumb {
	height: 39px;
	line-height: 39px;
	font-size: 14px;
	font-family: "microsoft yahei";
	background: #eaeaea;
	padding-left: 13px
}

.content .breadcrumb span {
	font-family: "microsoft yahei"
}

.content .help_tit {
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	font-family: "microsoft yahei"
}

.content .help_list li {
	line-height: 22px
}

.content .help_list li b {
	margin-right: 4px
}

.content .editcon .imgcon {
	text-align: center
}

.content .editcon {
	padding: 0 10px
}

.mgt-20 {
	margin-top: 20px
}

.content .contxt {
	padding: 10px 20px;
	margin: 20px 0;
	overflow: hidden;
	color: #000
}

.content .help-tit2 {
	height: 29px;
	font-size: 14px;
	font-family: "microsoft yahei"
}

.content .conbox {
	margin: 20px 50px;
	border: 1px solid #d0d0d0;
	padding: 15px 10px;
	font-size: 14px
}

.content .conbox .help-tit2 {
	font-family: "宋体"
}

.conbox a:hover {
	color: #ff9600
}

.help-tit1 {
	width: 100%;
	height: 25px;
	font-size: 20px;
	font-family: "microsoft yahei";
	border-bottom: 1px dashed #eaeaea;
	margin-bottom: 20px
}

.content .contxt .help-tit1 {
	width: 100%;
	font-size: 20px;
	font-family: "microsoft yahei";
	border-bottom: 1px dashed #eaeaea;
	margin-bottom: 25px;
	padding-top: 0;
	padding-bottom: 15px;
	text-align: center;
}

.content .contxt p {
	text-indent: 2em;
	line-height: 21px;
	margin-bottom: 20px
}

.content .contxt h3 {
	padding: 6px 0
}

.content .contxt .adr_list span {
	line-height: 21px
}

.content .contxt p img {
	margin: 10px 0 10px -2em;
	text-align: center;
	max-width: 650px
}

.content .contxt a:link,.content .contxt a:visited {
	color: #4db7eb
}

.content .contxt a:hover {
	color: #ff9600
}

.content .contxt h3 {
	color: #E4393C
}

.content .contxt h3 a:link,.content .contxt h3 a:visited {
	color: #E4393C
}

.content .contxt h3 a:hover {
	color: #E4393C
}

.mgr-b15 {
	margin-bottom: 15px
}

.list-tab-float {
	padding-left: 28px;
	padding-right: 28px;
	overflow: hidden;
	*zoom: 1
}

.list-tab-float .list-item01 {
	float: left;
	width: 49%;
	line-height: 28px
}

.list-tab-float .list-item01 a {
	color: #999
}

.faq-list-box {
	overflow: hidden;
	*zoom: 1;
	padding-left: 10px;
	padding-top: 10px
}

.faq-list-mod {
	float: left;
	width: 350px;
	margin-right: 13px;
	overflow: hidden
}

.faq-list-mod .in-tit {
	font-size: 14px;
	font-family: "microsoft yahei";
	margin-bottom: 10px;
	border-left: 4px solid;
	padding-left: 5px;
	height: 13px;
	line-height: 15px
}

.fore01.faq-list-mod .in-tit {
	border-color: #4db7eb
}

.fore02.faq-list-mod .in-tit {
	border-color: #f8bb00
}

.fore03.faq-list-mod .in-tit {
	border-color: #85b716
}

.fore04.faq-list-mod .in-tit {
	border-color: #8099eb
}

.fore05.faq-list-mod .in-tit {
	border-color: #e191f6
}

.faq-list-mod .in-cnt {
	padding-left: 10px;
	margin-bottom: 35px
}

.faq-list-mod .list-item {
	width: 33%;
	line-height: 25px
}

.faq-list-mod a {
	color: #4db7eb
}

.faq-list-mod a:hover {
	color: #ff9600
}

.tabs-01 {
	padding: 14px 35px
}

.tabs-01 .icon-arr03 {
	background-image: url("i/icon-arr03.gif");
	width: 17px;
	height: 11px;
	line-height: 0;
	font-size: 0;
	display: block;
	margin: 8px auto 0;
	display: none
}

.tabs-01 .dk-line {
	display: block;
	border-left: 1px solid #666;
	font-size: 14px;
	padding-right: 10px;
	padding-left: 10px;
	cursor: pointer;
	margin-left: -1px;
	_margin-left: 0
}

.tabs-01 .dk-line a {
	float: none
}

.tabs-01 .tab {
	margin-left: -11px;
	position: relative;
	z-index: 9
}

.tabs-01 .tab a:hover {
	color: #E4393C
}

.tabs-01 .tab .list-item {
	height: 36px
}

.tabs-01 .tab .list-item.current {
	color: #E4393C
}

.tabs-01 .tab .list-item.current a {
	color: #E4393C
}

.tabs-01 .tab .list-item.current .icon-arr03 {
	display: inline-block;
	width: 17px
}

.tabs-01 .tabcons {
	padding-left: 10px;
	border: 1px solid #eaeaea;
	padding: 22px;
	margin-top: -1px
}

.tabs-01 .tabcons a:hover {
	color: #4db7eb
}

.tabs-01 .help_list {
	line-height: 22px
}

.tabs-01 .help-tit-l2 {
	color: #E4393C;
	font-family: "microsoft yahei";
	margin-bottom: 15px
}

.tabs-01 .pagin {
	width: 395px;
	margin: 70px auto 35px;
	overflow: hidden;
	*zoom: 1
}

.all-selfservice-box {
	margin-bottom: 60px
}

.all-selfservice-box .smt {
	float: left;
	width: 21px;
	padding-left: 12px;
	padding-right: 8px;
	height: 106px;
	background-image: url("i/self-tit.gif");
	font-size: 16px;
	color: #fff;
	font-family: "microsoft yahei";
	text-align: center;
	padding-top: 62px
}

.all-selfservice-box .smc {
	float: left
}

.all-selfservice-box .lump-list {
	float: left;
	width: 235px;
	padding-right: 2px
}

.all-selfservice-box .lump-tit {
	background-color: #eaeaea;
	height: 33px;
	line-height: 33px;
	font-weight: bold;
	font-size: 14px;
	padding-left: 15px
}

.all-selfservice-box .lump-cnt {
	padding: 15px 10px;
	line-height: 20px;
	overflow: hidden;
	*zoom: 1;
	background-color: #fff;
	height: 105px
}

.all-selfservice-box .list-normal a {
	color: #999
}

.all-selfservice-box .list-normal a:hover {
	color: #4db7eb
}

.all-selfservice-box .hover .lump-tit {
	color: #fff
}

.all-selfservice-box .lump01 .hover .lump-tit {
	background-color: #f2cf62
}

.all-selfservice-box .lump02 .hover .lump-tit {
	background-color: #8fc7f9
}

.all-selfservice-box .lump02 .smt {
	background-position: -41px 0
}

.all-selfservice-box .lump03 .hover .lump-tit {
	background-color: #9ad9a4
}

.all-selfservice-box .lump03 .smt {
	background-position: -82px 0
}

.all-selfservice-box .icon-hot {
	margin-left: 2px
}

#faq-tabs {
	border-bottom: 10px solid #f9f9f9
}

#faq-tabs .tab-list {
	background-color: #f9f9f9
}

#faq-tabs .tab-list .list-item {
	color: #999;
	font-size: 14px;
	font-weight: normal;
	height: 35px;
	line-height: 35px;
	width: 120px
}

#faq-tabs .tab-list .list-item.current {
	color: #fff
}

#faq-tabs .tab-list .list-item.current .icon01 {
	left: 54px
}

#faq-tabs .list-item01 a {
	display: block;
	padding-left: 10px;
	font-size: 14px
}

#faq-tabs .list-item01 a:hover {
	color: #ca8b00
}

.help-tit-l2 {
	font-size: 14px;
	color: #999;
	margin-bottom: 15px
}

.pagin .prev,.pagin .next,.pagin .prev-disabled,.pagin .next-disabled {
	padding: 4px 10px 5px;
	border-radius: 3px;
	background: #fff
}

.pagin a,.pagin span {
	height: 19px
}

.pagin a {
	border-radius: 3px
}

.pagin .page-skip {
	height: 26px;
	padding: 0 10px;
	border: 0;
	font-size: 12px
}

.pagin .page-skip em {
	float: left;
	height: 26px;
	line-height: 26px
}

.pagin .jumpto {
	float: left;
	width: 36px;
	height: 21px;
	padding: 1px;
	border-width: 1px;
	border-style: solid;
	border-color: #aaa #ddd #ddd #aaa;
	margin: 0 5px;
	text-align: center;
	font-family: verdana
}

.pagin a.btn-skipsearch,.pagin .btn-skipsearch:hover {
	float: left;
	width: 53px;
	height: 25px;
	padding: 0;
	margin-left: 5px;
	border: 0;
	background: url(i/20130415i.png) no-repeat -126px -52px;
	line-height: 25px;
	text-align: center;
	cursor: pointer;
	color: #333
}

.pagin-m a,.pagin-m span.text {
	height: 14px;
	font-family: verdana
}

.mgr-10 {
	margin-right: 10px
}

.linklist {
	width: 210px;
	float: left;
	margin-bottom: 10px;
	padding-top: 20px
}

.linklist a {
	display: block;
	width: 98px;
	height: 28px;
	border: 1px solid #fff;
	background-color: #fff
}

.linklist a:hover {
	border-color: #e1e1e1
}

.linklist li {
	float: left;
	width: 100px;
	margin-bottom: 10px
}

.linklist li img {
	width: 98px;
	height: 28px
}

.sch-result-box {
	padding: 35px;
	line-height: 22px
}

.sch-result-box .tit-link {
	font-size: 14px
}

.sch-result-box .pagin {
	width: 600px;
	margin: auto;
	padding-top: 35px
}

.feedback-box-faq {
	position: relative;
	padding-left: 170px;
	padding-top: 30px;
	padding-left: 125px
}

.feedback-box-faq .icon-c-s01f {
	position: absolute;
	left: 85px;
	top: 0
}

.feedback-box-faq .feedback-info-txt {
	font-family: "microsoft yahei";
	font-size: 14px;
	margin-bottom: 15px
}

.feedback-box-faq .feedback-info-txt strong {
	color: #010101
}

.feedback-box-faq .feedback-info-list {
	color: #333;
	line-height: 22px
}

.feedback-box-faq .feedback-info-list .title {
	font-weight: bold;
	margin-bottom: 5px
}

.feedback-box-faq .feedback-info-list a {
	color: #4db7eb
}

.feedback-box-faq .icon-c-s01f {
	left: 35px;
	top: 30px
}

.feedback-box-faq .feedback-info-txt {
	line-height: 66px
}

.gg-box .ggxq-tit {
	font-size: 16px;
	height: 40px;
	font-family: "microsoft yahei"
}

.gg-box .gg-list {
	padding: 20px 0
}

.gg-box .gg-list dl {
	height: 38px;
	line-height: 38px;
	border-bottom: 1px solid #f1f1f1;
	padding: 0 10px
}

.gg-box .gg-list dl dt {
	float: left;
	width: 820px
}

.gg-box .gg-list dl dd {
	float: right;
	width: 140px;
	overflow: hidden
}

.gg-box .gg-list dl dt a:hover {
	color: #4db7eb
}

.txt-it3 {
	font-size: 14px;
	font-family: "microsoft yahei";
	line-height: 23px
}

.ggxq-text {
	padding: 15px 25px 25px 25px
}

.ggxq-text .ggxq-tit {
	font-size: 24px;
	height: 40px;
	line-height: 40px;
	font-family: "microsoft yahei"
}

.ggxq-text p {
	font-size: 14px;
	font-family: "microsoft yahei";
	line-height: 23px;
	margin-top: 20px
}

.ggxq-box a:hover {
	color: #ff9600
}

.hc-table {
	border: solid #b3b3b3;
	color: #000;
	border-width: 1px 0 0 1px
}

.hc-table th,.hc-table td {
	border-right: 1px solid #d0d0d0;
	border-bottom: 1px solid #b3b3b3;
	padding: 5px;
	height: 25px
}

.hc-table th:last-child,.hc-table td:last-child {
	border-right-color: #b3b3b3
}

.hc-table th {
	font-size: 14px
}

.ac {
	text-align: center
}

.o-help-info-wrap {
	background-color: #f1f1f1;
	overflow: hidden;
	*zoom: 1
}

.o-help-info-box {
	width: 230px;
	float: left;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 40px;
	position: relative
}

.o-help-info-box .title {
	font-size: 14px;
	font-family: "microsoft yahei";
	font-weight: normal;
	margin-bottom: 10px;
	color: #606060
}

.o-help-info-box .img-list {
	margin-bottom: 10px;
	overflow: hidden;
	*zoom: 1
}

.o-help-info-box .img-list .img-box {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px
}

.o-help-info-box .o-info {
	line-height: 22px
}

.o-help-info-box .icon-arr01 {
	border: 12px solid;
	border-color: #fff #fff #fff #f1f1f1;
	position: absolute;
	right: -24px;
	top: 35px;
	line-height: 0;
	font-size: 0
}

.o-help-cnt-box {
	background-color: #fff;
	width: 670px;
	float: left;
	margin-bottom: -9999px;
	padding-right: 40px;
	padding: 10px 40px 9999px
}

.o-help-cnt-box .link-return {
	margin-bottom: 15px
}

.o-help-cnt-box .o-mb {
	padding-bottom: 20px
}

.guess-quiz {
	margin-bottom: 25px
}

.guess-quiz .title {
	font-size: 14px;
	font-family: "microsoft yahei";
	font-weight: normal;
	margin-bottom: 10px;
	color: #606060
}

.guess-quiz .help_list {
	background-color: #fbfbfb;
	padding: 10px;
	overflow: hidden;
	*zoom: 1
}

.guess-quiz .help_list li {
	float: left;
	width: 290px;
	margin-right: 10px;
	line-height: 23px;
	width: 280px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.guess-quiz a:hover {
	color: #4db7eb
}

.link-return a {
	color: #999
}

.link-return a:hover {
	color: #E4393C
}

.bg-color-01 {
	background-color: #fff;
	padding: 15px 0 25px
}

.bg-color-02 {
	padding: 15px 0 25px
}

.bg-color-03 {
	background-color: #f1f1f1
}

.tabs-flex {
	margin-bottom: 10px
}

.tabs-flex .tab-list {
	overflow: hidden;
	*zoom: 1;
	padding-left: 3px;
	width: 775px;
	margin-left: auto;
	margin-right: auto
}

.tabs-flex .tab-list .list-item {
	width: 158px;
	float: left;
	margin-left: -3px;
	text-align: center;
	color: #999;
	height: 70px;
	position: relative
}

.tabs-flex .tab-list .list-item .flex-num {
	height: 23px;
	line-height: 23px;
	background-image: url("i/bg-flex.png");
	color: #fff;
	font-weight: bold;
	margin-bottom: 5px
}

.tabs-flex .tab-list .list-item .txt {
	font-size: 14px;
	font-family: "microsoft yahei"
}

.tabs-flex .tab-list .list-item .icon-arr02 {
	border: solid;
	border-width: 0 8px 8px 8px;
	border-color: #fff #fff #e2ffd2 #fff;
	font-size: 0;
	line-height: 0;
	display: none;
	position: absolute;
	bottom: 0;
	left: 70px
}

.tabs-flex .tab-list .list-item.current {
	color: #7abd54
}

.tabs-flex .tab-list .list-item.current .flex-num {
	background-position: 0 -23px;
	position: relative;
	z-index: 1;
	color: #7abd54
}

.tabs-flex .tab-list .list-item.current .icon-arr02 {
	display: inline-block
}

.tabs-flex .tabcons {
	background-color: #e2ffd2;
	margin-left: 10px;
	margin-right: 10px
}

.tabs-flex .tabcons .title {
	color: #5c5c5c;
	margin-bottom: 10px
}

.tabs-flex .tabcons .help_list {
	overflow: hidden;
	*zoom: 1
}

.tabs-flex .tabcons .help_list li {
	float: left;
	width: 430px;
	margin-right: 10px;
	line-height: 20px
}

.tabs-flex .tabcons a:hover {
	color: #ca8b00
}

.tabs-flex .tabcons .tabcon {
	padding: 10px
}

.guide-wrap .o-mt,.guide-imgtxt-wrap .o-mt {
	margin-bottom: 10px
}

.guide-wrap .o-mt .title,.guide-imgtxt-wrap .o-mt .title {
	color: #666;
	font-size: 16px;
	font-family: "microsoft yahei"
}

.guide-imgtxt-wrap {
	margin-bottom: 50px
}

.guide-imgtxt-wrap .list-float {
	padding-top: 7px;
	padding-bottom: 20px
}

.guide-imgtxt-wrap .list-item {
	width: 195px;
	text-align: center
}

.guide-imgtxt-wrap .icons {
	background-image: url("i/guideicon.png");
	display: block;
	width: 64px;
	height: 64px;
	margin: 0 auto 8px
}

.guide-imgtxt-wrap .i-title {
	font-size: 14px;
	color: #999;
	font-family: "microsoft yahei"
}

.guide-imgtxt-wrap .tabcons {
	overflow: hidden
}

.icon-imgtxt02 {
	background-position: -65px 0
}

.icon-imgtxt03 {
	background-position: -130px 0
}

.icon-imgtxt04 {
	background-position: -195px 0
}

.icon-imgtxt05 {
	background-position: -260px 0
}

.link-imgtxt {
	display: block
}

.current .icon-imgtxt01 {
	background-position: 0 -65px
}

.current .icon-imgtxt02 {
	background-position: -65px -65px
}

.current .icon-imgtxt03 {
	background-position: -130px -65px
}

.current .icon-imgtxt04 {
	background-position: -195px -65px
}

.current .icon-imgtxt05 {
	background-position: -260px -65px
}

.current .i-title {
	color: #f3b701
}

.service-event-wrap .mc {
	text-align: center;
	padding-bottom: 80px
}

.search-big-wrap {
	position: relative;
	margin-bottom: 35px
}

.search-big-wrap .search-box {
	float: none;
	overflow: hidden;
	*zoom: 1;
	width: 840px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 3px;
	padding-left: 3px;
	padding-top: 3px
}

.search-big-wrap txt {
	left: 80px
}

.search-big-wrap .f-text {
	padding: 15px;
	width: 684px
}

.feedback-box {
	position: relative;
	padding-left: 170px
}

.feedback-box .icon-c-s01f {
	position: absolute;
	left: 85px;
	top: 0
}

.feedback-box .feedback-info-txt {
	font-family: "microsoft yahei";
	font-size: 14px;
	margin-bottom: 15px
}

.feedback-box .feedback-info-txt strong {
	color: #010101
}

.feedback-box .feedback-info-list {
	color: #333;
	line-height: 22px
}

.feedback-box .feedback-info-list .title {
	font-weight: bold;
	margin-bottom: 5px
}

.feedback-box .feedback-info-list a {
	color: #4db7eb
}

.feedback-qh-sh {
	margin-bottom: 25px;
	line-height: 22px
}

.feedback-qh-sh .feedback-qh-cnt {
	display: none;
	background-color: #f9f9f9;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 10px
}

.feedback-qh-sh .list-float .list-item {
	width: 280px;
	margin-right: 10px
}

.feedback-qh-sh .list-float .list-item a:link {
	color: #999
}

.feedback-qh-sh .hover .feedback-qh-cnt {
	display: block
}

*html .feedback-box .icon-c-s01f {
	left: -85px
}

.icon-c-s01f {
	width: 66px;
	height: 66px;
	line-height: 66px;
	text-align: center;
	font-size: 18px;
	font-family: "microsoft yahei";
	color: #fff;
	background-image: url("i/icon-c.gif")
}

.bg-fff,.bg-white {
	background-color: #fff;
	overflow: hidden;
	*zoom: 1
}

.bg-fff {
	padding-top: 25px;
	padding-bottom: 25px
}

.deliver-box {
	border: 1px solid #e5e5e5;
	background: #fbfbfb;
	margin-top: 10px
}

.deliver-box .sel-line {
	height: 26px;
	line-height: 26px;
	padding: 10px
}

.deliver-box .sel-line select {
	margin-right: 5px;
	height: 23px;
	vertical-align: middle;
	font-size: 12px
}

.deliver-box .items {
	padding-left: 10px
}

.deliver-box .items li {
	width: 310px;
	height: 170px;
	padding: 20px 10px 0 5px;
	float: left;
	border-top: 1px dotted #ddd
}

.deliver-box .items li .icon {
	width: 76px;
	height: 76px;
	float: left;
	background: url("http://misc.360buyimg.com/help/misc/skin/i/delivery.png") no-repeat;
	display: block
}

.deliver-box .items li .i-con {
	margin-left: 80px
}

.deliver-box .items li .i-con a {
	margin-top: 5px;
	display: block
}

.deliver-box .items .li2 .icon {
	background-position: 0 -76px
}

.deliver-box .items .li3 .icon {
	background-position: 0 -152px
}

.deliver-box .items .li4 .icon {
	background-position: 0 -228px
}

.deliver-box .items .li5 .icon {
	background-position: 0 -304px
}

.deliver-box .items .li6 .icon {
	background-position: 0 -380px
}

.deliver-box .items .li7 .icon {
	background-position: 0 -456px
}

.deliver-box .items .li8 .icon {
	background-position: 0 -532px
}

.deliver-box .items .li9 .icon {
	background-position: 0 -608px
}

.deliver-box .items .li10 .icon {
	background-position: 0 -684px
}

.deliver-box .items .li11 .icon {
	background-position: 0 -760px
}

.deliver-box .items .li12 .icon {
	background-position: 0 -836px
}

.deliver-box .items .li13 .icon {
	background-position: 0 -912px
}

.deliver-box .items .li14 .icon {
	background: url("http://misc.360buyimg.com/help/misc/skin/i/mianyunfei.png") no-repeat
}

.deliver-box .items .li15 .icon {
	background: url("http://misc.360buyimg.com/help/misc/skin/i/xksjd.png") no-repeat
}

.deliver-box .items .li16 .icon {
	background: url("http://misc.360buyimg.com/help/misc/skin/i/shdj.png") no-repeat
}

.deliver-box .items .li17 .icon {
	background: url("http://misc.360buyimg.com/help/misc/skin/i/kuaisutuikuan.png") no-repeat
}

.deliver-box .items .li18 .icon {
	background: url("http://misc.360buyimg.com/help/misc/skin/i/jdps.png") no-repeat
}

.deliver-box .items .li19 .icon {
	background: url("http://misc.360buyimg.com/help/misc/skin/i/shsm.png") no-repeat
}

.deliver-box .items li h4 {
	margin-bottom: 5px
}

.deliver-box .items li h4 a:link,.deliver-box .items li h4 a:visited {
	font-size: 14px;
	color: #333
}

.deliver-box .gray-tips {
	color: #999
}

.deliver-box .fail-tip {
	border-top: 1px dotted #ddd;
	margin: 0 10px;
	background: url("http://misc.360buyimg.com/help/misc/skin/i/fail-bg.png") no-repeat 50px 20px #fbfbfb;
	height: 386px;
	padding: 130px 0 0 390px;
	font: 18px "Microsoft Yahei"
}

.deliver-box .fail-tip .wish {
	font-size: 22px;
	margin-top: 10px
}

.deliver-box .fail-tip .wish b {
	display: inline-block;
	width: 72px;
	height: 27px;
	vertical-align: middle;
	background: url("http://misc.360buyimg.com/help/misc/skin/i/car.png") no-repeat 0 0
}

.deliver-box .wenan {
	padding: 0 10px 10px 10px
}

.deliver-box .wenan p {
	border-top: 1px dotted #ddd;
	line-height: 23px;
	padding-top: 10px
}

.mb10 {
	margin-bottom: 10px
}

#JD-stock .tab a.hover {
	color: #005aa0
}

#JD-stock .tab a,#JD-stock .tab .current a.hover {
	color: #005aa0
}

.trans-cost {
	font-weight: bold;
	text-align: right;
	float: right;
	width: 400px
}

.ml-115 {
	margin-left: 120px
}

.elc-wrap {
	padding: 10px 0
}

.elc-check {
	min-height: 356px;
	_height: 360px;
	padding: 10px 0 10px 10px
}

.elc-check .l-part {
	float: left;
	width: 238px;
	height: 270px;
	padding-right: 0;
	border-right: 1px solid #f6f6f6
}

.elc-check .l-part p {
	padding-left: 20px;
	color: #999;
	line-height: 24px;
	margin-bottom: 10px
}

.elc-check .l-part p span {
	margin-left: -20px
}

.elc-check .r-part {
	float: left
}

.elc-check .r-part .line {
	height: 66px
}

.elc-check .r-part p {
	font-size: 14px;
	font-family: Verdana;
	line-height: 36px
}

.elc-check .r-part p span {
	display: inline-block;
	width: 120px;
	height: 36px;
	color: #999;
	text-align: right;
	font-family: "\5b8b\4f53"
}

.elc-check .r-part p span b {
	color: #e4393c;
	margin-right: 3px;
	padding-top: 3px;
	font-family: Verdana
}

.elc-check .r-part p input {
	width: 268px;
	height: 34px;
	line-height: 34px;
	border: 1px solid #ccc;
	vertical-align: middle;
	font-family: "\5B8B\4F53";
	padding: 0
}

.elc-check .r-part .s-txt input {
	width: 98px
}

.elc-check .r-part p img {
	margin: 0 5px;
	vertical-align: middle
}

.elc-check .r-part p .tip {
	width: 55px;
	height: 36px;
	line-height: 18px;
	color: #666;
	font-size: 12px;
	text-align: left;
	vertical-align: middle
}

.elc-check .r-part p .tip a {
	display: inline-block
}

.elc-check a.e-btn1,.elc-check a.e-btn2 {
	padding: 0 15px;
	text-align: center;
	display: inline-block;
	font-size: 14px;
	font-family: "\5b8b\4f53";
	cursor: pointer;
	border-radius: 2px
}

.elc-check a.e-btn1 {
	height: 36px;
	line-height: 36px;
	border: 0;
	color: #fff;
	font-weight: bold;
	background-color: #e74649;
	background-image: -moz-linear-gradient(top,#e74649,#df3033);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#e74649),color-stop(1,#df3033));
	background-image: linear-gradient(to top,#e74649 0,#df3033 100%);
	margin-right: 10px
}

.elc-check a.e-btn2 {
	height: 34px;
	line-height: 34px;
	border: 1px solid #ddd;
	color: #333;
	background: -moz-linear-gradient(top,#f7f7f7,#f3f2f2);
	background: -webkit-gradient(linear,0 0,0 100%,from(#f7f7f7),to(#f3f2f2));
	_background: #f7f7f7
}

.elc-check a.e-btn1:hover {
	box-shadow: 0 1px 1px rgba(0,1,1,0.08);
	background-color: #f05356;
	background-image: -moz-linear-gradient(top,#f05356,#eb3c3f);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#f05356),color-stop(1,#eb3c3f));
	background-image: linear-gradient(to top,#f05356 0,#eb3c3f 100%);
	text-decoration: none
}

.elc-check a.e-btn2:hover {
	text-decoration: none;
	box-shadow: 0 1px 1px rgba(0,1,1,0.08);
	background: -moz-linear-gradient(top,#f9f9f9,#f6f6f6);
	background: -webkit-gradient(linear,0 0,0 100%,from(#f9f9f9),to(#f6f6f6));
	_background: #f9f9f9
}

.elc-check .t-c a.e-btn1 {
	margin-left: 0;
	float: none
}

.elc-check table {
	width: 99%;
	text-align: center;
	margin-bottom: 30px
}

.elc-check th {
	background: #f3f3f3;
	border-right: 1px solid #fff;
	height: 25px;
	font-size: 12px
}

.elc-check td {
	height: 25px;
	background: #fff;
	font-size: 12px
}

.elc-check h4 {
	color: #1f96cf;
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 10px
}

.elc-check .warn-info {
	background: url(i/e-warn.png) no-repeat left 21px;
	padding: 20px 0 0 20px;
	color: #61a9f4;
	margin: 0 0 30px 30px;
	font-size: 14px
}

.elc-check .wrong-tip {
	height: 23px;
	line-height: 23px;
	background: #ffebeb;
	border: 1px solid #ffbdbe;
	margin: 0 0 5px 120px;
	padding-left: 5px;
	color: #e4393c;
	width: 263px
}

.elc-check .suc-tip {
	height: 23px;
	line-height: 23px;
	background: #f7f7f7;
	border: 1px solid #ddd;
	margin: 0 0 5px 120px;
	padding-left: 5px;
	width: 263px
}

.elc-check .l-part div {
	margin: 10px 0 0 10px
}

.elc-check .r-part p .wrong-icon {
	border: 1px solid #e4393c;
	background: url(i/e-err.png) no-repeat 245px 8px #fff
}

.elc-check .r-part p .suc-icon {
	border: 1px solid #7abd54;
	background: url(i/e-suc.png) no-repeat 245px 8px #fff
}

.elc-check .r-part .s-txt .wrong-icon {
	background: url(i/e-err.png) no-repeat 75px 8px
}

.elc-check .r-part .s-txt .suc-icon {
	background: url(i/e-suc.png) no-repeat 75px 8px
}

#store-selector .area-list li {
	padding: 2px 0 2px 15px;
	clear: none
}

#store-selector .tab li {
	float: left;
	clear: none;
	padding: 0
}

.JD-stock .tab a i,.JD-stock .tab .current,.JD-stock .tab .current a {
	background-image: url(http://misc.360buyimg.com/product/skin/2012/i/jd-stock.png);
	background-repeat: no-repeat
}

.JD-stock {
	position: relative
}

.JD-stock .tab {
	width: 100%;
	height: 25px;
	float: left;
	border-bottom: 2px solid #edd28b;
	overflow: visible;
	*overflow: hidden
}

.JD-stock .tab .current a {
	color: #000
}

.JD-stock .tab a,.JD-stock .tab .current a.hover {
	position: relative;
	float: left;
	height: 23px;
	line-height: 23px;
	padding: 0 21px 1px 11px;
	margin-right: 3px;
	border: 1px solid #ddd;
	border-bottom: 0;
	text-align: center;
	cursor: pointer
}

.JD-stock .tab a.hover {
	height: 25px;
	background-color: #fff;
	border: 2px solid #edd28b;
	border-bottom: 0;
	padding: 0 20px 0 10px;
	line-height: 22px;
	text-decoration: none;
	color: #000
}

.JD-stock .tab .current a {
	background-repeat: repeat-x
}

.JD-stock .tab .current a,.JD-stock .tab .current a:hover {
	cursor: default
}

.JD-stock .tab .current a i {
	background-position: 0 -28px
}

.JD-stock .tab a i,.JD-stock .tab .current a:hover i {
	position: absolute;
	right: 5px;
	top: 10px;
	display: block;
	width: 7px;
	height: 5px;
	overflow: hidden;
	background-position: 0 -35px
}

.JD-stock .tab .current a:hover i {
	background-position: 0 -28px
}

.JD-stock .tab a:hover i {
	top: 11px;
	right: 4px;
	background-position: 0 -28px;
	*top: 9px
}

.area-list {
	padding-top: 5px
}

.area-list li {
	float: left;
	width: 80px;
	padding: 2px 0 2px 15px;
	clear: none
}

.area-list li a {
	float: left;
	padding: 2px 4px;
	color: #005aa0
}

.area-list li a:hover {
	background: #005ea7;
	color: #fff
}

.area-list .longer-area {
	width: 370px
}

.area-list .long-area {
	width: 170px
}

#store-selector {
	float: left;
	height: 26px;
	margin-right: 6px;
	position: absolute;
	display: inline;
	z-index: 2
}

.sel-line .text {
	border-bottom: 0 none;
	height: 25px;
	z-index: 1;
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #cecbce;
	float: left;
	line-height: 23px;
	overflow: hidden;
	padding: 0 20px 0 4px;
	position: relative;
	top: 0
}

.sel-line .text b {
	background-position: -264px -188px;
	display: block;
	height: 25px;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 17px;
	background-image: url("http://psfw.jd.com/misc/skin/images/service/newicon20130509.png");
	background-repeat: no-repeat
}

.contentArea {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #cecbce;
	box-shadow: 0 0 5px #ddd;
	display: none;
	left: -45px;
	padding: 15px;
	position: absolute;
	top: 25px;
	width: 390px;
	min-height: 30px
}

#store-selector.hover .contentArea,#store-selector.hover .close {
	display: block
}

.close {
	cursor: pointer;
	background-position: -257px -86px;
	display: none;
	height: 17px;
	left: 365px;
	position: absolute;
	top: 20px;
	width: 17px;
	z-index: 2;
	background-image: url("http://psfw.jd.com/misc/skin/images/service/newicon20130509.png");
	background-repeat: no-repeat
}

.sel-line {
	height: 35px;
	border: 1px solid #e5e5e5;
	background-color: #fbfbfb;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px
}

.sel-text {
	float: left;
	line-height: 25px
}

.m-help-wrap {
	border: solid #d0d0d0;
	border-width: 0 1px 1px;
	padding-bottom: 30px
}

.m-help-box {
	margin-bottom: 0;
	padding-bottom: 15px
}

.m-help-box .mt {
	color: #989898;
	background-color: #fbfbfb
}

.m-help-box .mt .i-tit {
	line-height: 35px;
	padding-left: 10px;
	font-size: 14px
}

.query-img {
	vertical-align: top
}

.query-img img {
	margin: 0
}

.query-name {
	color: #333;
	margin-bottom: 10px;
	font-size: 14px;
	padding-top: 3px
}

.query-txt {
	color: #666;
	margin-bottom: 5px
}

.content .contxt .link-details a:link,.content .contxt .link-details a:visited {
	color: #005ea7
}

.icon-hot {
	background: url("i/icon-hot01.gif") no-repeat;
	width: 26px;
	height: 14px;
	display: inline-block;
	margin-left: 4px
}

.help-table {
	border-collapse: collapse;
	empty-cells: hide;
	padding-left: 15px;
	padding-right: 15px
}

.help-table .col-01 {
	width: 80px;
	vertical-align: top;
	padding-bottom: 15px;
	padding-top: 30px
}

.help-table .col-02 {
	width: 170px;
	vertical-align: top;
	padding-bottom: 15px;
	padding-top: 30px
}

.m-help-gg-box {
	margin-bottom: 0
}

.m-help-gg-box img {
	margin: 0
}

.ad-imglist {
	height: 100px;
	width: 650px;
	overflow: hidden;
	position: relative
}

.ad-imglist li {
	height: 100px;
	float: left;
	width: 650px;
	position: absolute
}

.ad-imglist li img {
	vertical-align: top
}

/* 文章详情 */
.delivery-table{}
.delivery-table td{border: 1px solid #eee;padding:5px;text-align: center;}
